doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet" href="/static/css/styles.css")
    body
        include partials/header
        main
            block content
        include partials/footer
        script(src="/static/js/main.js")
        //- base.pug는 모든 template이 extend하는 root temeplate
        //- Webpage별로 필요한 script가 다르므로, 확장하는 쪽에서 script를 지정할 수 있어야 한다.
        block scripts