extends base.pug

block content
    form(method="POST")
        h4 Change title of the video
        input(name="title", placeholder="Video Title", value=video.titl, required)
        input(value="Save", type="submit")